.arc-wrapper h3 {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    font-size: 28px;
    margin-top: 16px;
    color: #D26A44;
    letter-spacing: -5px;
    text-shadow: 1px 1px 1px #954c04;
}

.arc-wrapper h4 {
    position: absolute;
    z-index: 10;
    width: 100%;
    font-size: 39px;
    bottom: 10px;
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    font-family: 'Concert One', serif;
}

.arc-wrapper h4 span {
    background: #D26A44;
    padding: 3px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    margin: 0 -3px 0px -3px;
}

.arc-wrapper h4 span.empty {
    background: transparent;
    width: 4px;
}

.fanSpeed h3 {
    font-family: 'Concert One', serif;
    text-transform: uppercase;
    /* text-shadow: 1px 1px 1px rgba(0,0,0,0.2); */
    color: #19C3B5;
    font-size: 47px;
    position: absolute;
    top: 15px;
}
